.virhe {
   /* @SuppressWarning */
   -fx-background-color: blue;
   -fx-text-fill: white;
 }
 
 .normaali {
   /* @SuppressWarning */
   -fx-background-color: white;
 }
/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */